@inherits LayoutComponentBase

<MudThemeProvider Theme="MudBlazorBattleship" />
<MudDialogProvider FullWidth="true" />
<MudSnackbarProvider />


<MudLayout>
    <MudAppBar Elevation="0">
        <MudText Typo="Typo.h5" Class="mudblazor-battleship-appbar-text">Battleship</MudText>
        <MudSpacer />
        <MudIconButton Icon="@Icons.Custom.Brands.MudBlazor" Color="Color.Inherit" Link="https://mudblazor.com/" Target="_blank" />
        <MudIconButton Icon="@Icons.Custom.Brands.GitHub" Color="Color.Inherit" Link="https://github.com/Garderoben/MudBlazor" Target="_blank" />
    </MudAppBar>
    <MudMainContent>
        @Body
        <div class="mudblazor-battleship-bg">
            <MudBlazorBattleship />
            <MudBlazorBattleshipOcean />
        </div>
    </MudMainContent>
</MudLayout>

@code {
    MudTheme MudBlazorBattleship = new MudTheme()
    {
        Palette = new Palette()
        {
            Background = "#f3f2f1",
        },

        LayoutProperties = new LayoutProperties()
        {
            AppbarHeight = "48px"
        },
        Typography = new Typography()
        {
            Overline = new Overline()
            {
                FontFamily = new[] { "Roboto","Helvetica","Arial","sans-serif" },
                FontSize = ".75rem",
                FontWeight = 400,
                LineHeight = 1.2,
                LetterSpacing = ".08333em"
            }
        }
    };
}