@namespace MudBlazor.Battleship.Components

<div class="@GridClass">
    @Section.Coordinates.GetName()
    <div class="@DropClass"  @ondrop="HandleDrop" @ondragenter="HandleDragEnter" @ondragleave="HandleDragLeave" ondragover="event.preventDefault();" ondragstart="event.dataTransfer.setData('', event.target.id);">
         @if(Section.Warship != null)
        {
            <Ship Class="absolute" Warship="Section.Warship" />
        }
    </div>
</div>
