.mudblazor-battleship-appbar-text {
    letter-spacing: .5rem;
    font-weight: 300;
    margin-left: 12px;
    font-size: 24px;
    user-select: none;
}

.mudblazor-battleship-bg{
    height:100%;
    width:100%;
    position:fixed;
    left:0;
    bottom:0;
    display:flex;
    flex-direction:column;
    align-items:flex-end;
    z-index: -1;
}
.mudblazor-battleship {
    margin-top:auto;
    height:60%;
    width:100%;
    position:relative;
}

.mudblazor-battleship-ship-color0 {
    fill: #303030;
}

.mudblazor-battleship-ship-color1 {
    fill: #919191
}

.mudblazor-battleship-ocean {
    width: 100%;
    height: auto;
    position: fixed;
    left:0;
    bottom:0;
}

.battleship-lobby-card-header {
    border-bottom: 1px solid var(--mud-palette-table-lines);
}

.battleship-lobby-card-header h5 {
    line-height: normal
}

.battleship-chatmessage h6{
    font-weight:500;
}

.battleship-lobby-chat-input-field {
    border-radius: 8px;
    background-color: var(--mud-palette-background);
}

    .battleship-lobby-chat-input-field input {
        font-size: var(--mud-typography-body2-size) !important;
    }

    .battleship-lobby-chat-input-field .mud-input-outlined-border {
        border: none !important;
    }

.battleship-lobby-score-card .mud-progress-linear {
    transform: rotate(270deg);
    margin-top: 50%;
    border-radius: var(--mud-default-borderradius);
}

    .battleship-lobby-score-card .mud-progress-linear .mud-progress-linear-bar {
        border-radius: var(--mud-default-borderradius);
    }

.battleship-lobby-score-card p {
    font-size: .875rem;
    font-weight: 500;
    line-height:normal;
}

    .battleship-lobby-score-card p + p {
        font-size: 1.25rem;
        font-weight: 700;
    }

        .battleship-lobby-score-card p + p + p {
            font-size: .625rem;
            font-weight: 500;
        }

.wrapper {
    display: grid;
    grid-template-areas: "x-cordinates x-cordinates x-cordinates" "y-cordinates grid-cordinates grid-cordinates" "y-cordinates grid-cordinates grid-cordinates";
    column-gap: 4px;
    row-gap: 4px;
}

    .wrapper .grid-item {
        height: 64px;
        width: 64px;
        padding: 4px;
        border-radius: 2px;
        border: 1px solid var(--mud-palette-grey-light);
        font-size: 12px;
    }

.x-cordinates {
    grid-area: x-cordinates;
    grid-column-start: 2;
    display: grid;
    column-gap: 2px;
    row-gap: 2px;
    grid-template-columns: repeat(10, 1fr);
    height: 64px;
    width: fit-content;
    border: 1px solid var(--mud-palette-info);
}
.y-cordinates {
    grid-area: y-cordinates;
    display: grid;
    column-gap: 2px;
    row-gap: 2px;
    width: 64px;
    border: 1px solid var(--mud-palette-success);
}
.grid-cordinates {
    grid-area: grid-cordinates;
    border: 1px solid var(--mud-palette-error);
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    column-gap: 2px;
    row-gap: 2px;
    width: fit-content;
}
