.mudblazor-battleship-appbar-text {
    letter-spacing: .5rem;
    font-weight: 300;
    margin-left: 12px;
    font-size: 24px;
    user-select: none;
}

.mudblazor-battleship-bg{
    height:100%;
    width:100%;
    position:fixed;
    left:0;
    bottom:0;
    display:flex;
    flex-direction:column;
    align-items:flex-end;
    z-index: -1;
}
.mudblazor-battleship {
    margin-top:auto;
    height:60%;
    width:100%;
    position:relative;
}

.mudblazor-battleship-ship-color0 {
    fill: #303030;
}

.mudblazor-battleship-ship-color1 {
    fill: #919191
}

.mudblazor-battleship-ocean {
    width: 100%;
    height: auto;
    position: fixed;
    left:0;
    bottom:0;
}

.battleship-lobby-card-header {
    border-bottom: 1px solid var(--mud-palette-table-lines);
}

.battleship-lobby-card-header h5 {
    line-height: normal
}

.battleship-chatmessage h6{
    font-weight:500;
}

.battleship-lobby-chat-input-field {
    border-radius: 8px;
    background-color: var(--mud-palette-background);
}

    .battleship-lobby-chat-input-field input {
        font-size: var(--mud-typography-body2-size) !important;
    }

    .battleship-lobby-chat-input-field .mud-input-outlined-border {
        border: none !important;
    }

.battleship-lobby-score-card .mud-progress-linear {
    transform: rotate(270deg);
    margin-top: 50%;
    border-radius: var(--mud-default-borderradius);
}

    .battleship-lobby-score-card .mud-progress-linear .mud-progress-linear-bar {
        border-radius: var(--mud-default-borderradius);
    }

.battleship-lobby-score-card p {
    font-size: .875rem;
    font-weight: 500;
    line-height:normal;
}

    .battleship-lobby-score-card p + p {
        font-size: 1.25rem;
        font-weight: 700;
    }

        .battleship-lobby-score-card p + p + p {
            font-size: .625rem;
            font-weight: 500;
        }

.wrapper {
    display: grid;
    grid-template-areas: "x-cordinates x-cordinates x-cordinates" "y-cordinates grid-cordinates grid-cordinates" "y-cordinates grid-cordinates grid-cordinates";
    column-gap: 4px;
    row-gap: 4px;
}
    .wrapper div {
        display: grid;
        column-gap: 2px;
        column-gap: 2px;
        row-gap: 2px;
    }

    .wrapper .grid-item {
        height: 64px;
        width: 64px;
        padding: 6px;
        line-height: normal;
        border-radius: 2px;
    }

.grid-labels .grid-item {
    display: flex;
    font-size: 18px;
}

.grid-axis-x {
    grid-area: x-cordinates;
    grid-column-start: 2;
    grid-template-columns: repeat(10, 1fr);
    height: 64px;
    width: fit-content;
}
    .grid-axis-x .grid-item {
        align-items: end;
        justify-content: center;
    }

.grid-axis-y {
    grid-area: y-cordinates;
    width: 64px;
    height: fit-content;
}

    .grid-axis-y .grid-item {
        justify-content: end;
        align-items: center;
    }


.battle-grid {
    grid-area: grid-cordinates;
    grid-template-columns: repeat(10, 1fr);
    width: fit-content;
}

    .battle-grid .grid-item {
        user-select: none;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        border: 1px solid var(--mud-palette-table-lines);
        color: var(--mud-palette-text-secondary);
    }

        .battle-grid .grid-item:hover {
            cursor: pointer;
            background-color: var(--mud-palette-action-default-hover);
        }